<div class="progress-bar-container @(IsDarkMode?"dark":"")">
    <div class="progress-bar @(IsDarkMode?"dark":"")" style="width: @(CalculateProgressBarWidth())%">
        @*@CurrentProgress*@
    </div>
</div>

@code {
    [Parameter]
    public bool IsDarkMode { get; set; } = true;

    [Parameter]
    public int CurrentProgress { get; set; } = 50;

    // 计算进度条宽度
    private double CalculateProgressBarWidth()
    {
        return CurrentProgress;
    }
}
